*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'VT323', monospace;
    user-select: none;
}

body{
    user-select: none;
    background-color: rgb(0, 0, 154);
}

.contenedor {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    height: 680px;
    width: 1000px;
    overflow: scroll;
    overflow-x: hid;
    user-select: none;
    background-color: rgb(173, 187, 255);
}

    .contenedor main .inicio_pokemon {
        position: relative;
        height: auto;
        top: 20px;
        width: 100%;
        height: 1200px;
    }

    .contenedor main .inicio_pokemon .descripcion {
        width: 100%;
        top: 60px;
        left: 0;
        height: 1150px;
        color: rgb(55, 20, 78);
    }

    .contenedor main .principales {
        position: relative;
        height: auto;
        top: 20px;
        text-align : center;
    }

    .contenedor main .generaciones {
        position: absolute;
        top:3600px;
    }

    .contenedor main h1 {
        text-align: center;
        color: rgb(66, 25, 116);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contenedor main p {
        position: relative;
        margin: 0 auto;
        width: 90%;
    }

.inicio_pokemon{
    color: rgb(55, 20, 78);
}

/*DOCUMENTO DISEÑO*/

.contenedor main article {
    position: relative;
    top: 10px;
    height: 695px;
    width: 100%;
    float: left;
    margin: 0 auto;
    font-family: 'VT323', monospace;
    font-size: 25px;
    padding-bottom: 40px;
}

    .contenedor main article .juegos_box {
        position: absolute;
        top: 270px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: 770px;
        height: auto;
        background: linear-gradient(180deg, rgb(187, 217, 223) 0%, rgba(255, 255, 255, 1) 100%);
        border: 10px solid;
        border-color: #FFFFFF;
        border-radius: 5px;
        box-shadow: -1px 3px 18px -1px rgba(0, 0, 0, 0);
        color: #3b6b73;
        padding: 20px;
        text-align: center;
    }

        .contenedor main article .juegos_box h1 {
            margin-top: 5px;
            margin-bottom: 5px;
        }

    .contenedor main article .primera,
    .contenedor main article .novena,
    .contenedor main article .segunda {
        position: relative;
        height: 1050px;
    }

    .contenedor main article .octava {
        position: relative;
        height: 1100px;
    }

    .contenedor main article .tercera,
    .contenedor main article .sexta,
    .contenedor main article .quinta {
        position: relative;
        height: 1200px;
    }

    .contenedor main article .septima,
    .contenedor main article .cuarta {
        position: relative;
        height: 1460px;
    }

        .contenedor main article .tercera .juegos_box,
        .contenedor main article .quinta .juegos_box,
        .contenedor main article .sexta .juegos_box,
        .contenedor main article .septima .juegos_box,
        .contenedor main article .cuarta .juegos_box {
            position: absolute;
            top: 210px;
        }

    .contenedor main article .juegos_box .info_juegos {
        position: relative;
        top: 10px;
        margin-bottom: 50px;
    }

    .contenedor main article .juegos_box .info_juegos .juego {
        position: relative;
        margin: 0 auto;
        top: 10px;
        margin-top: 5px;
        width: 90%;
        height: 190px;
        background-color: rgba(255, 0, 0, 0.107);
    }

        .contenedor main article .juegos_box .info_juegos .juego .imagen {
            width: 40%;
            height: 100%;
            float: left;
        }

            .contenedor main article .juegos_box .info_juegos .juego .imagen img {
                width: 100%;
                height: 100%;
                float: left;
            }

        .contenedor main article .juegos_box .info_juegos .juego .info {
            width: 60%;
            height: 100%;
            float: left;
        }

            .contenedor main article .juegos_box .info_juegos .juego .info .juego_name {
                font-size: 40px;
                transition: 1.2s;
            }

                .contenedor main article .juegos_box .info_juegos .juego .info .juego_name:hover {
                    color: rgb(255, 217, 0);
                    background-color: rgba(255, 0, 0, 0.444);
                    transition: 0.5s;
                }

            .contenedor main article .juegos_box .info_juegos .juego .info p {
                position: relative;
                top: 20px;
                width: 80%;
            }
            /*Diseñp para tabla debajo de juegos principales*/

            .tablita {
                width: 100%;

            }
            table th {
                width: 7.5em;
            }
            
            table {
                border-collapse:collapse;
                text-align: center;
                position: relative;
            }
            .blanca{
                background-color: #FFFFFF
            }
            /*
            .gris{
                background-color: gray;
            }*/
            tr:nth-of-type(1) > th {
                background-color: rgb(217, 69, 69);
            }
            tr:nth-of-type(2) > th,
            tr:nth-of-type(3) > th,
            tr:nth-of-type(4) > th,
            tr:nth-of-type(5) > th,
            tr:nth-of-type(6) > th,
            tr:nth-of-type(7) > th,
            tr:nth-of-type(8) > th,
            tr:nth-of-type(9) > th,
            tr:nth-of-type(10) > th {
                background-color: rgb(95, 91, 215);
            }
/* Boton para scroolear hacia arriba*/
            .go-top-container{
                position: fixed;
                bottom: 64px;
                right: 64px;
                width: 112px;
                height: 112px;
                z-index: -1;
                
            }

            .go-top-button{
                width: 0px;
                height: 0px;
                background-color: aqua;
                border-radius: 50%;
                cursor: pointer;
                transition: .2s;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
            }
            .go-top-button i{
                position: absolute;
                font-size: 32px;
                top: 48%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                color: #FFFFFF;
                transition: .2s;
            }
            .show{
                z-index: 10;
            }
            .show .go-top-button{
                animation: popup .3s ease-in-out;
                width: 105px;
                height: 105px;
                z-index: 11;
            }
            .show i{
                transform: translate(-50%, -50%) scale(1);
            }

            @keyframes poput{
                0%{
                    width: 0px;
                    height: 0px;
                }
                50%{
                    width: 128px;
                    height: 128px;
                }
                100%{
                    width: 105px;
                    height: 105px;
                }
            }

/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 1000PX ----------------------------------------------------*/

@media only screen and (max-width: 1000px) {
    .contenedor {
        width: 90%;
        height: 900px;
        transition: 0.5s;
    }

    .contenedor main article .inicio_pokemon {
        height: 1300px;
    }

    .contenedor main article .generaciones {
        text-align: center;
    }
}

/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 850PX ----------------------------------------------------*/


/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 800PX ----------------------------------------------------*/

@media only screen and (max-width: 800px) {
    .contenedor main article .inicio_pokemon {
        height: 1600px;
        transition: 0.5s;
    }

    .contenedor main article .generaciones {
        position: relative;
        top: 50px;
    }

    .contenedor main article .generaciones .juegos_box {
        width: 90%;
    }
}

/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 750PX ----------------------------------------------------*/

@media only screen and (max-width: 750px) {
    .contenedor main article .inicio_pokemon {
        height: 1700px;
        transition: 0.5s;
    }
}

/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 700PX ----------------------------------------------------*/

@media only screen and (max-width: 700px) {
    .contenedor main article .inicio_pokemon {
        height: 1800px;
        transition: 0.5s;
    }
}

/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 650PX ----------------------------------------------------*/

@media only screen and (max-width: 650px) {
    .contenedor main article .inicio_pokemon {
        height: 2000px;
        transition: 0.5s;
    }

    .contenedor main article .generaciones .juegos_box .info_juegos .juego {
        width: 90%;
        height: 150px;
    }

    .contenedor main article .generaciones .juegos_box .info_juegos .juego .juego_name {
        font-size: 25px;
    }

    .contenedor main article .generaciones .juegos_box .info_juegos .juego p {
        top: 20px;
        font-size: 15px;
        line-height: 0.96;
    }

    .contenedor main article .primera,
    .contenedor main article .novena,
    .contenedor main article .segunda {
        height: 980px;
    }

    .contenedor main article .octava {
        height: 1150px;
    }

    .contenedor main article .tercera,
    .contenedor main article .sexta,
    .contenedor main article .quinta {
        height: 1150px;
    }

    .contenedor main article .septima,
    .contenedor main article .cuarta {
        height: 1350px;
    }

}

/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 600PX ----------------------------------------------------*/

@media only screen and (max-width: 600px) {
    .contenedor main article .inicio_pokemon {
        height: 2100px;
    }

    .contenedor main article .principales .tablita {
        overflow-x: scroll;
    }
    .contenedor main article .principales table {
        width: 100px;
        -webkit-overflow-scrolling: scroll;
    }
}

/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 550PX ----------------------------------------------------*/

@media only screen and (max-width: 550px) {
    .contenedor main article .inicio_pokemon {
        height: 2400px;
    }
}

/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 500PX ----------------------------------------------------*/

@media only screen and (max-width: 500px) {
    .contenedor main article .inicio_pokemon {
        height: 2600px;
    }
}


/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 450PX ----------------------------------------------------*/

@media only screen and (max-width: 450px) {
    .contenedor main article .inicio_pokemon {
        height: 2900px;
    }

    .contenedor main article .generaciones .juegos_box .info_juegos .juego {
        height: 140px;
    }

    .contenedor main article .generaciones .juegos_box .info_juegos .juego .juego_name {
        font-size: 20px;
    }
    
    .contenedor main article .generaciones .juegos_box .info_juegos .juego p {
        top: 20px;
        font-size: 12px;
        line-height: 0.96;
    }

    .contenedor main article .septima,
    .contenedor main article .cuarta {
        height: 1410px;
    }

}

/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 400PX ----------------------------------------------------*/

@media only screen and (max-width: 400px) {
    .contenedor main article .inicio_pokemon {
        height: 3100px;
    }
}

/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 350PX ----------------------------------------------------*/

@media only screen and (max-width: 400px) {
    .contenedor main article .inicio_pokemon {
        height: 3400px;
    }
}
