*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'VT323', monospace;
    user-select: none;
}

body{
    user-select: none;
    overflow: scroll;
    background-color: rgb(0, 0, 154);
    margin-top: 15px;
}

#contenido{
    height: 15000px;
    width: 1000px;
    margin: auto;
    user-select: none;
    overflow: hidden;
    background-color: rgb(131, 137, 166);
}


header nav .nav-bar {
    position: relative;
    margin: 0 auto;
    top: 0;
    width: 100%;
    height: 70px;
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.395);
}

    header nav .nav-bar ul {
        display: inline-block;
        position: relative;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        height: 70px;
        background-color: rgb(154, 154, 255);
    }

        header nav .nav-bar ul li {
            display: inline-block;
            position: relative;
            height: 70px;
            width: 18%;
        }

            header nav .nav-bar ul li a {
                position: relative;
                display: block;
                line-height: 70px;
                height: 70px;
                transition: .2s;
                font-size: 30px;
                color: white;
            }

                header nav .nav-bar ul li a:hover {
                    background-color: rgb(23, 0, 107);
                    color: white;
                    transition: .2s;
                }
.lado_izq{
    height: 10000px;
    width: 100px;
    background-color: rgb(42, 145, 185);
    float: left;
}
.lado_der{
    height: 10000px;
    width: 100px;
    background-color: rgb(42, 145, 185);
    float: right;
}
.inicion_pokemon{
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(55, 20, 78);

}
/*DOCUMENTO DISEÑO*/
article{
    height: 1000px;
    width: 770px;
    background-color: rgb(131, 137, 166);
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'VT323', monospace;
    font-size: 25px;


}

.titulos{
    color: rgb(214, 235, 76);
    font-size: 40px;
}

#chichi{
    height: 1100px;
}

main article .primera .juegos,
main article .segunda .juegos,
main article .tercera .juegos,
main article .quinta .juegos,
main article .sexta .juegos,
main article .septima .juegos,
main article .octava .juegos,
main article .novena .juegos,

main article .cuarta .juegos {
    width: 770px;
    height: 800px;
    background: linear-gradient(180deg, rgb(187, 217, 223) 0%, rgba(255, 255, 255, 1) 100%);
    border: 10px solid;
    border-color: #FFFFFF;
    float: left;
    position: relative;
    top: 6px;
    right: 0px;
    border-radius: 5px;
    box-shadow: -1px 3px 18px -1px rgba(0, 0, 0, 0);
    color: #3b6b73;
    padding: 30px;
    text-align: center;
}

main article .tercera .juegos {
    height: 1200px;
}
main article .cuarta .juegos {
    height: 1200px;
}
main article .quinta .juegos {
    height: 1000px;
}
main article .sexta .juegos {
    height: 1005px;
}
main article .septima .juegos {
    height: 1250px;
}
main article .octava .juegos {
    height: 800px;
}
main article .novena .juegos {
    height: 600px;
}

.juegos .img_tamano .imagenes{
    position: relative;
    width: 50%;
    height: 400px;
    float: left;

}
.juegos .img_tamano .imagenes img {
    width: 200px;
    height: 186px;
}

.juegos .img_tamano .texto{
    position: relative;
    width: 50%;
    height: 400px;
    float: left;

    text-align: center;
    font-size: 45px;
}

