* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'VT323', monospace;
    user-select: none;
}

body {
    user-select: none;
    overflow: hidden;
    background-color: rgb(116, 154, 0);
    cursor: url("./images/cursor64.cur"), auto;
}

/*---------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------- HEADER -----------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

header nav .nav-bar {
    position: fixed;
    margin: 0 auto;
    top: 0;
    width: 100%;
    height: 160px;
    box-shadow: 5px 4px 2px 0px rgba(0, 0, 0, 0.43);
    z-index: 90;
    background-color: rgb(154, 154, 255);
}

    header nav .nav-bar .logo_page {
        position: absolute;
        top: 0;
        width: 100%;
        height: 120px;
        text-align: center;
        background-color: rgb(0, 39, 139);
    }

        header nav .nav-bar .logo_page img {
            height: 105px;
        }

    header nav .nav-bar ul {
        display: inline-block;
        position: relative;
        top: 120px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        height: 40px;
        background-color: rgb(154, 154, 255);
    }

        header nav .nav-bar ul li {
            display: inline-block;
            position: relative;
            height: 40px;
            width: 19%;
        }

            header nav .nav-bar ul li a {
                position: relative;
                display: block;
                line-height: 40px;
                height: 40px;
                transition: .2s;
                font-size: 30px;
                color: white;
            }

                header nav .nav-bar ul li a:hover {
                    background-color: rgb(23, 0, 107);
                    color: white;
                    transition: .2s;
                    cursor: url("./images/pointerPoke.cur"), auto;
                }

/*---------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------- BODY ------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/

.background {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    pointer-events: none;
    z-index: -1000;
}

    .background .columnas {
        position: relative;
        top: -35%;
        width: 100%;
        opacity: 0.1;
        display: flex;
        padding: 10px 0;
        white-space: nowrap;
        transform: rotate(-20deg);
    }

        .background .columnas .columna {
            animation: recorrer1 80s linear infinite;
            animation-delay: -80s;
        }

            .background .columnas .columna:nth-child(2) {
                animation: recorrer2 80s linear infinite;
                animation-delay: -40s;
            }

@keyframes recorrer1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes recorrer2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

.background .columnas:nth-child(even) .columna {
    animation: recorrer3 80s linear infinite;
    animation-delay: -80s;
}

    .background .columnas:nth-child(even) .columna:nth-child(2) {
        animation: recorrer4 80s linear infinite;
        animation-delay: -40s;
    }

@keyframes recorrer3 {
0% {
transform: translateX(-100%);
}
100% {
transform: translateX(100%);
}
}

@keyframes recorrer4 {
0% {
transform: translateX(-200%);
}
100% {
transform: translateX(0%);
}
}

/*********-------------------------- contenedor prueba ------------------*************

.contenedor {
    position: absolute;
    top: 150px;
    left: 40%;
    width: 800px;
    height: 200px;
    background-color: rgb(174, 89, 89);
    border-radius: 20px;
}

    .contenedor .contenedor_pokemon {
        position: relative;
        float: left;
        width: 30%;
        height: 90%;
        top: 5%;
        left: 5%;
        transition: 0.3s;
    }

    .contenedor .contenedor_pokemon:hover{
        animation: salto 0.8s infinite;
        cursor: pointer;
    }

    .contenedor .contenedor_pokemon .pokemon img {
        position: relative;
        top: 0;
        left: 0;
        width: 90%;
        height: 100%;
    }

    @keyframes salto {
        0%,  100% {top: 0px;}
        30% {top: -10px;}
    }
*/

main .inicio {
    position: absolute;
    height: 550px;
    top: 100px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

    main .inicio h1 {
        color: white;
        font-size: 60px;
    }

    main .inicio img {
        position: relative;
        margin: 0 auto;
        height: 90%;
        width: 400px;
        animation: salto 1.5s infinite;
    }

@keyframes salto {
    0%,  100% {top: 0px;}
    30% {top: -10px;}
}