main{
    position: relative;
}
main .gameboy {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: -650px;
    left: 60px;
    right: 0;
    z-index: 10;
    width: 960px;
}

main iframe{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: -500px;
    left: 60px;
    right: 0;
    z-index: 10;
    width: 500px;
    height: 385px;
}