*{
    margin: 0;
    padding: 0;
    user-select: none;
}

.title{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(32, 31, 31) -6px 8px;
    letter-spacing: 3px;
}

main{
    position: relative;
    top: 90px;
}

.temporada section{
    margin-top: 40px;
    float: none;
    clear: both;
    border: 2px solid;
}

article{
    margin: 15px;
}

.contenido{
    margin: 0 auto;
    width: 1000px;
    height: auto;
    background-color: rgb(173, 187, 255);
    box-shadow: -1px -2px 30px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -2px 30px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -2px 30px 6px rgba(0,0,0,0.75);
    border-radius: 20px;
    padding: 25px;
}

h2{
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(32, 31, 31) -3px 4px;
    letter-spacing: 3px;
}

p{
    font-size: 25px;
    padding: 10px;
    color: black;
    text-align: justify;
}

.info p {
    width: 110%;
    font-size: 20px;
}

i{
    color: black;
    text-shadow: none;
    text-decoration: underline;
}

.tipos_pokemon .que_son{
    width: 100%;
    height: 380px;
}

.tipos_pokemon .que_son .info{
    width: 50%;
    float: left;
}

.tipos_pokemon .que_son .info p {
    width: 100%;
}

.tipos_pokemon .que_son img{
    width: 35%;
    float: right;
    margin-top: 20px;
    margin-right: 80px;
}

.personajes .texto_personajes{
    height: 460px;
}

.personajes .texto_personajes .info{
    float: right;
    width: 50%;
}

.personajes .texto_personajes .info h2{
    text-align: right;
}

.personajes .texto_personajes img{
    width: 50%;
    margin-top: 25px;
}

.anime-section article img{
    margin-left: 5px;
    width: 100%;
}

.article-t16 img {
    width: 300px;
}


/* aqui comienza el slider*/

.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0%;
    width: 400%;

    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
}

@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}


/* temporadas */

.temporada{
    margin: 20px;
    box-shadow: 0px 1px 14px 9px rgba(0,0,0,0.27) inset;
    -webkit-box-shadow: 0px 1px 14px 9px rgba(0,0,0,0.27) inset;
    -moz-box-shadow: 0px 1px 14px 9px rgba(0,0,0,0.27) inset;
}

.temporada section article h3{
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(32, 31, 31) -3px 4px;
    letter-spacing: 3px;
    margin: 40px 0px;
}

.temporada section article .portada{
    width: 30%;
    height: 361PX;
}


.temporada section article .info{
    width: 55%;
    float: right;
    margin-right: 70px;
}

h4{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(32, 31, 31) -3px 4px;
    letter-spacing: 3px;
}

.temporada section article .info .descriptions{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(32, 31, 31) -3px 4px;
    letter-spacing: 3px;
    padding: 0px;
    margin: 20px 0px;
}

.temporada section article .peliculas ol{
    padding: 20px;
}

.temporada section article .peliculas ol li{
    display: inline-block;
    margin: 10px;
    width: 270px;
}

.temporada section article .peliculas ol li p{
    text-align: center;
    padding: 2px;
    margin-bottom: 10px;
}


.temporada section article .peliculas ol li img{
    width: 110px;
    margin-left: 70px;
}


.article-t6{
    height: 500px;
}

.article-t16{
    height: 400px;
}

.portada-t16{
    width: 350px;
}

.article-t23{
    height: 650px;
}


/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 1000PX ----------------------------------------------------*/

@media only screen and (max-width: 1000px) {
    .contenido {
        width: 90%;
        transition: 0.25s;
    }

    .contenido .que_son {
        width: 97%;
        height: 600px;
    }

    .contenido .que_son .info {
        width: 100%;
    }

    .contenido .tipos_pokemon .que_son  img {
        position: relative;
        top: 20px;
        left: 230px;
        float: none;
        margin-right: 0;
        width: 300px;
    }

    .contenido .anime-section article img {
        width: 100%;
    }

    .contenido .personajes {
        position: relative;
        height: 550px;
        transition: 0.24s;
    }
}

/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 800PX ----------------------------------------------------*/

@media only screen and (max-width: 800px) {
    .info p {
        width: 125%;
        font-size: 20px;
    }

    .temporada .article-t18 {
        height: 500px;
        transition: 0.25s;
    }

    .temporada .article-t16 {
        height: 600px;
    }

    .temporada .article-t16 .info {
        width: 80%;
    }

    .temporada .article-t16 .info p {
        width: 100%;
        position: relative;
        top: 30px;
    }

    .temporada .article-t16  img {
        width: 300px;
        position: relative;
        left: 90px;
    }

    .temporada .article-t13 {
        height: 600px;
    }

    .temporada .article-t11,
    .temporada .article-t9,
    .temporada .article-t8,
    .temporada .article-t7,
    .temporada .article-t5 {
        height: 530px;
    }

    .temporada .article-t3 {
        height: 530px;
    }
}

/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 750PX ----------------------------------------------------*/

@media only screen and (max-width: 750px) {

    .contenido .que_son {
        width: 97%;
        height: 700px;
    }

    .contenido .tipos_pokemon .que_son  img {
        left: 120px;
        transition: 0.25s;
    }

    .contenido .series section h3 {
        text-align: center;
    }

    .contenido .series section .portada {
        width: 250px;
        position: relative;
        left: 136px;
    }

    .contenido .series section .info {
        width: 100%;
        margin-right: 0;
    }

    .contenido .series .peliculas {
        text-align: center;
    }

    .contenido .series .peliculas ol li {
        text-align: center;
        width: 100%;
    }

    .contenido .series .peliculas ol li img {
        position: relative;
        margin: 0 auto;
    }

    .contenido .series section .portada {
        left: 135px;
    }

    .info p {
        width: 100%;
        font-size: 20px;
    }
    
}

/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 630PX ----------------------------------------------------*/

@media only screen and (max-width: 630px) {
    .contenido .personajes {
        position: relative;
        height: 750px;
        transition: 0.24s;
    }

    .contenido .tipos_pokemon .que_son  img {
        width: 250px;
        left: 100px;
    }

    .contenido .series section .portada {
        left: 85px;
    }

    .temporada .article-t23 {
        height: 1000px;
    }

    .temporada .article-t22,
    .temporada .article-t18,
    .temporada .article-t15,
    .temporada .article-t13,
    .temporada .article-t12,
    .temporada .article-t11,
    .temporada .article-t9,
    .temporada .article-t8,
    .temporada .article-t7,
    .temporada .article-t6,
    .temporada .article-t5,
    .temporada .article-t4 {
        height: 850px;
    }

    .temporada .article-t3 {
        height: 850px;
    }
}

/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 520PX ----------------------------------------------------*/

@media only screen and (max-width: 520px) {
    .contenido .personajes {
        position: relative;
        height: 1050px;
        transition: 0.24s;
    }

    .contenido .personajes .texto_personajes {
        height: 1050px;
    }

    .contenido .personajes .texto_personajes img {
        position: absolute;
        width: 100%;
    }

    .contenido .personajes .texto_personajes .info {
        position: relative;
        width: 100%;
        top: 250px;
    }
    .contenido .personajes .texto_personajes .info h2 {
        width: 100%;
        text-align: center;
    }

    .contenido .que_son {
        height: 800px;
    }

    .contenido .tipos_pokemon .que_son  img {
        width: 200px;
        left: 100px;
    }

    .contenido .series section .portada {
        left: 45px;
    }
}

/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 450PX ----------------------------------------------------*/

@media only screen and (max-width: 450px) {
    .contenido .personajes {
        position: relative;
        height: 1300px;
    }

    .contenido .tipos_pokemon .que_son  img {
        left: 60px;
        transition: 0.25s;
    }

    .contenido .tipos {
        position: relative;
        top: 80px;
    }

    .contenido .series section .portada {
        left: 15px;
    }

    .temporada .article-t23 {
        height: 1300px;
    }

    .temporada .article-t16 {
        height: 1000px;
    }

    .temporada .article-t22,
    .temporada .article-t18,
    .temporada .article-t15,
    .temporada .article-t13,
    .temporada .article-t12,
    .temporada .article-t11,
    .temporada .article-t9,
    .temporada .article-t8,
    .temporada .article-t7,
    .temporada .article-t6,
    .temporada .article-t5,
    .temporada .article-t4 {
        height: 1050px;
    }

    .temporada .article-t3 {
        height: 1050px;
    }

    .temporada .article-t16 img {
        left: 0;
        width: 90%;
    }
}

/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 400PX ----------------------------------------------------*/

@media only screen and (max-width: 400px) {
    .contenido .personajes {
        position: relative;
        height: 1300px;
        transition: 0.24s;
    }

    .contenido .que_son {
        height: 800px;
    }

    .contenido .tipos_pokemon {
        height: 3000px;
    }

    .contenido .tipos_pokemon .que_son  img {
        left: 40px;
        transition: 0.25s;
    }

    .contenido .tipos {
        position: relative;
        top: 130px;
    }

    .contenido .tipos h2 {
        width: 100%;
        text-align: center;
    }

    .contenido .Pokemon {
        position: relative;
        top: 130px;
    }

    .contenido .series section .portada {
        left: -8px;
    }

    .temporada .article-t23 {
        height: 1400px;
    }

    .temporada .article-t16 {
        height: 800px;
    }

    .temporada .article-t22,
    .temporada .article-t20,
    .temporada .article-t18,
    .temporada .article-t15,
    .temporada .article-t13,
    .temporada .article-t12,
    .temporada .article-t11,
    .temporada .article-t9,
    .temporada .article-t8,
    .temporada .article-t7,
    .temporada .article-t6,
    .temporada .article-t5,
    .temporada .article-t4 {
        height: 1200px;
    }

    .temporada section img {
        transform: scale(0.8);
    }

    .temporada .article-t3 {
        height: 1150px;
    }

    .temporada .article-t16 img {
        left: 0;
        width: 90%;
    }

}


/*---------------------------------------------------- MEDIDAS MAX-WIDTH = 350PX ----------------------------------------------------*/

@media only screen and (max-width: 350px) {
    .temporada {
        position: relative;
        width: 100%;
        left: -20px;
    }
    .temporada .article-t23 {
        height: 1400px;
    }

    .temporada .article-t16 {
        height: 800px;
    }

    .temporada .article-t22,
    .temporada .article-t20,
    .temporada .article-t18,
    .temporada .article-t15,
    .temporada .article-t13,
    .temporada .article-t12,
    .temporada .article-t11,
    .temporada .article-t9,
    .temporada .article-t8,
    .temporada .article-t7,
    .temporada .article-t6,
    .temporada .article-t5,
    .temporada .article-t4 {
        height: 1200px;
    }

    .contenido .series section .portada {
        transform: scale(0.6);
        left: -30px;
    }

    .temporada .article-t3 {
        height: 1150px;
    }
}
