main{
    position: relative;
    z-index: 10;
    overflow-x: scroll;
}
.contenido{
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 980px;
    height: 680px;
    background-color: gainsboro;
}

main::-webkit-scrollbar{
    overflow-x: scroll;
}
.tipos_pokemon{
    color :purple;
}
.El_anime{
    color: purple;
}
.Anime_television{
    color: purple;
}
.series{
    color: purple;
}
.personajes{
    width: 100%;
    position: relative;
    background-color: red;
}
.personajes .texto_personajes{
    width: 50%;
    float: left;
}
.personajes .imagen_personajes{
    width: 50%;
    float:left;
}
.personajes .imagen_personajes img{
    width: 100%;
}

/* aqui comienza el slider*/

.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0%;
    width: 400%;

    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
}

@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}


